<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<appSettings>
		<!-- nach der Entwicklungsphase unbedingt die Klasse DropCreateDatabaseAlways ändern in DropCreateDatabaseIfModelChanges -->
		<add key="DatabaseInitializerForType EFCodeFirstSample.SchoolContext, EFCodeFirstSample"
		     value="System.Data.Entity.DropCreateDatabaseAlways`1[[
			 EFCodeFirstSample.SchoolContext, EFCodeFirstSample]], EntityFramework"/>
	</appSettings>
	<connectionStrings>
		<add name="testKerim"
		     providerName="System.Data.SqlClient"
		     connectionString="Server=.;Database=KerimTestDB;Integrated Security=sspi"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>